@{
    ViewData["Title"] = "My Personal Page";
}
@model PersonalSite.Models.Info
<style>

    .demo-card-image.mdl-card {
        width: 256px;
        height: 256px;
        background: url('@Model.person.image') center / cover;
    }

    .demo-card-image > .mdl-card__actions {
        height: 52px;
        padding: 16px;
        background: rgba(0, 0, 0, 0.2);
    }

    .demo-card-image__filename {
        color: #fff;
        font-size: 14px;
        font-weight: 500;
    }

    #loader {
        z-index: 1001;
    }

</style>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col"></div>
    <div class="mdl-cell mdl-cell--8-col">
        <div class="mdl-tabs mdl-js-tabs">
            <div class="mdl-tabs__tab-bar">
                <a href="#tab1-panel" class="mdl-tabs__tab is-active">ABOUT ME</a>
                <a href="#tab2-panel" class="mdl-tabs__tab">MY JOBS</a>
                <a href="#tab3-panel" class="mdl-tabs__tab">CONTACT ME</a>
            </div>

            <div class="mdl-tabs__panel is-active" id="tab1-panel">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col">
                        <div class="demo-card-image mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title mdl-card--expand"></div>
                            <div class="mdl-card__actions">
                                <span class="demo-card-image__filename">@Model.person.image_desc</span>
                            </div>
                        </div>
                    </div>
                    <div class="mdl-cell mdl-cell--8-col">
                        <p>
                            @Model.person.desc
                        </p>

                    </div>
                </div>
                <p></p>
            </div>

            <div class="mdl-tabs__panel" id="tab2-panel">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col">
                        <script>
                            var i; 
                            var skills = ("@Model.person.skills").split(",");
                            for (i = 0; i < skills.length; i++) {
                                document.write('   <span class="mdl-chip"><span class="mdl-chip__text">' + skills[i] +
                                    '</span></span>');
                            }
                        </script>
                    </div>
                    <div class="mdl-cell mdl-cell--8-col">

                        <div class="demo-list-action mdl-list">
                            @foreach (var job in Model.jobs)
                            {
                            <div class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                    <i class="material-icons mdl-list__item-icon">important_devices</i>
                                    <span>@job.name </span>
                                </span>
                                <a class="mdl-list__item-secondary-action" href="#" id="show-dialog"><i class="material-icons">
    @if (job.status == 0)
    {
        @("done_outline")
    }
    else if (job.status == 1)
    {
        @("done")
    }
    else if (job.status == 2)
    {
        @("done_all")
    }


</i></a>

                            </div>
                            }


                        </div>
                    </div>
                </div>
            </div>

            <div class="mdl-tabs__panel" id="tab3-panel">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col">
                        <ul class="demo-list-item mdl-list">
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                    <span class="mdl-chip mdl-chip--contact">
                                        <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">M</span>
                                        <span class="mdl-chip__text">@Model.person.phone</span>
                                    </span>
                                </span>
                            </li>
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                    <span class="mdl-chip mdl-chip--contact">
                                        <span class="mdl-chip__contact mdl-color--blue mdl-color-text--white">E</span>
                                        <span class="mdl-chip__text">@Model.person.email</span>
                                    </span>
                                </span>
                            </li>
                            <li class="mdl-list__item">
                                <span class="mdl-list__item-primary-content">
                                    <span class="mdl-chip mdl-chip--contact">
                                        <span class="mdl-chip__contact mdl-color--blue mdl-color-text--white">P</span>
                                        <span class="mdl-chip__text">@Model.person.place</span>
                                    </span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="mdl-cell mdl-cell--8-col"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d259145.51181154288!2d29.019163369398022!3d41.03773587606905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2str!4v1541780629686" width="100%" height="50%" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                </div>
            </div>
        </div>

    </div>
    <div class="mdl-cell mdl-cell--2-col"></div>
</div>
